<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link href="/resource/css/book02.css" rel="stylesheet" type="text/css">
</head>

<style>
    .layui-edge {
        display: none;
    }
</style>
<body class="index">
<div class="book_con01">
    <h1 class="book_h01">新增资源</h1>
    <div class="layui-form">
        <div class="top">
            <div>
                <div class="top_out">
                    <table class="table" style="width: 100%">
                        <tbody>
                        <tr>
                            <td>标题<span>*</span></td>
                            <td colspan="8"><input type="text" class="layui-input" name="name" placeholder="请输入标题"
                                                   minlength="2"
                                                   lay-verify="required"></td>
                        </tr>
                        <tr>
                            <td>分类<span>*</span></td>
                            <td>
                                <select class="layui-select" name="categoryId" id="categoryId" lay-filter="categoryId">
                                    <option value="0">请选择</option>
                                    <option th:each="category:${categoryList}"
                                            th:value="${category.id}" th:text="${category.name}">
                                    </option>
                                </select>
                            </td>
                            <td>子分类<span>*</span></td>
                            <td>
                                <select class="layui-select" name="chdCategoryId" id="chdCategoryId">
                                    <option value="0">请选择</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>是否置顶<span>*</span></td>
                            <td>
                                <select class="layui-select" name="isTop" id="isTop" lay-filter="">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>介绍<span>*</span></td>
                            <td colspan="8" style="text-align: left">
                                <textarea id="introduce" class=" layui-textarea" name="introduce"
                                          style="height: 200px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>内容<span>*</span></td>
                            <td colspan="8" style="text-align: left">
                                <textarea id="editor" class=" layui-textarea" name="content"
                                          style="height: 200px"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" but_p">
            <button class="but_save" type="submit" lay-submit="" lay-filter="Submit">发布</button>
        </div>
        <div style="clear: both;padding-bottom: 40px"></div>
    </div>
</div>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['table', 'layer', 'upload', 'form', 'layedit'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            layedit = layui.layedit,
            upload = layui.upload,
            form = layui.form;
        //普通图片上传
        upload.render({
            elem: '#accessorySrc'
            , url: '/upload.do'
            , accept: 'file' //普通文件
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                $("#accessory").val(res.obje);
                $("#accessorySrc").val(res.obje);
                return layer.msg('上传成功');
            }
            , error: function () {
                return layer.msg('上传失败');
            }
        });
        //监听父分类选择框
        form.on('select(categoryId)', function (data) {
            $.ajax({
                url: '/category/getChdCategory.do',
                type: 'post',
                data: {'ptId': data.value},
                dataType: 'json',
                success: function (data) {
                    var htmlStr = "<option value='0'>请选择</option>";
                    for (var i = 0; i < data.length; i++) {
                        htmlStr += "<option value='" + data[i].id + "'>" + data[i].name + "</option>"
                    }
                    $("select[name='chdCategoryId']").html(htmlStr);
                    form.render()
                }
            })
        })
        form.on('submit(Submit)', function (data) {
            data.field.content = layedit.getContent(index)
            var categoryId = data.field.categoryId;
            var chdCategoryId = data.field.chdCategoryId;
            console.log(categoryId + chdCategoryId)
            if (categoryId == '0') {
                layer.msg('请选择分类!', {icon: 5});
                return false;
            }
            if (chdCategoryId == '0') {
                layer.msg('请选择子分类!', {icon: 5});
                return false;
            }
            $.ajax({
                url: '/postInfo/postInfo.do',
                type: 'post',
                data: data.field,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        layer.msg("新增成功!", {
                            time: 900,
                            end: function () {
                                location.reload()
                            }
                        })
                    }
                }

            });
        });
        layedit.set({
            //暴露layupload参数设置接口 --详细查看layupload参数说明
            uploadImage: {
                url: '/layeditUpload.do',
                accept: 'image',
                acceptMime: 'image/*',
                exts: 'jpg|png|gif|bmp|jpeg',
                size: '10240'
            }
            , uploadVideo: {
                url: '/layeditUpload.do',
                accept: 'video',
                acceptMime: 'video/*',
                exts: 'mp4|flv|avi|rm|rmvb',
                size: '20480'
            }
            //右键删除图片/资源时的回调参数，post到后台删除服务器文件等操作，
            //传递参数：
            //图片： imgpath --图片路径
            //资源： filepath --资源路径 imgpath --封面路径
            , calldel: {
                url: '/Attachment/DeleteFile'
            }
            //开发者模式 --默认为false
            , devmode: true
            //插入代码设置
            , codeConfig: {
                hide: true,  //是否显示编码语言选择框
                default: 'javascript' //hide为true时的默认语言格式
            }
            , tool: [
                'code', 'strong', 'italic', 'underline', 'del', 'addhr', 'fontFomatt', 'face'
                , 'left', 'center', 'right', 'link', 'unlink', 'images', 'image_alt', 'video', 'anchors'
                , 'table', 'fullScreen']

        });
        var index = layedit.build('editor', {
            height: 400 //设置编辑器高度
        });
    });

</script>

</body>
</html>